* {
  margin: 0;
  padding: 0;
}

html,
body,
#plateau {
  width: 100%;
  height: 100%;
}

#plateau {
}


.Pokemon,
.Energie,
.Dresseur {
  display: inline-block;
  overflow: hidden;
  width: 150px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #c88d8d;
  border: 14px #c96782 solid;  
}

.dead {
  background-color: #aaa;
  border-color: #999;
}

.Dresseur {
  background-color: #8da4c8;
  border-color: #679fc9;
}

.Energie {
  background-color: #a4c88d;
  border-color: #8ec967;
}