
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";

// $primary: rgb(34, 121, 209);
$primary: $indigo-400;

@import "../node_modules/bootstrap/scss/bootstrap";



.alpha {
  background-color: $indigo-400;
}


