{% extends 'base.html.twig' %}

{% block title %}Hello ChronoController!{% endblock %}

{% block body %}





<ul>

{% for c in chronos %}

    <li>{{c.start|date("d/m/Y H:i:s")}} >> {{c.stop|date("d/m/Y H:i:s")}}</li>

{% endfor %}

</ul>

{% endblock %}



