{% extends 'base.html.twig' %}

{% block title %}Hello ChronoController!{% endblock %}

{% block body %}



<button id="chrono">start</button>


<p id="compteur"></p>



<script src="/app.js"></script>
{% endblock %}



