<script setup lang="ts">

export interface NavProps {
  backName?: string
  backParam?: any
  backTitle?: string
  forName?: string
  forParam?: any
  forTitle?: string
}

const props = withDefaults(defineProps<NavProps>(), {
  backName: '',
  backParam: {},
  backTitle: 'retour',
  forName: '',
  forParam: {},
  forTitle: 'valider'
})
</script>


<template>
  <nav>
    <router-link v-if="props.backName" :to="{ name: props.backName, params: props.backParam || {} }">
      {{ props.backTitle || "retour" }}
    </router-link>
    <router-link v-if="props.forName" class="btn btn-primary"
      :to="{ name: props.forName, params: props.forParam || {} }">
      {{ props.forTitle || "valider" }}
    </router-link>
  </nav>
</template>


<style scoped>
nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
</style>

