
<script setup lang="ts">
import { reactive, onMounted } from 'vue'
import { useRoute, useRouter } from 'vue-router';
import type { Festivals, Festival } from "../Types";
import { emptyFestival } from "../Types";

import Navigation from "../components/Navigation.vue";

const route = useRoute();
const router = useRouter();

const festival = reactive<Festival>(emptyFestival)

onMounted(() => {

  // get event name

  fetch("http://localhost:1337/api/events?filters[id][$eq]=" + route.params.id)
    .then(res => res.json() as Promise<Festivals>)
    .then(data => {
      festival.id = data.data[0].id
      festival.attributes = data.data[0].attributes
    })
})

// Save reservation

const doSave = () => {
  fetch("http://localhost:1337/api/reservations", {
    method: 'post',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      data: {
        firstname: route.params.firstname,
        lastname: route.params.lastname,
        email: route.params.email,
        placing: 'A',
        event: festival.id
      }
    })
  })
    .then(res => res.json())
    .then(data => {
      const msg = data.error
        ? `Une erreur s'est produite : ${data.error}`
        : `Enregistrement effectué avec succès ! ` +
        `Veuiller noter votre code d'enregistrement : ${data.data.id}`;

      router.push({ name: 'thanks', params: { msg } });
    })
}
</script>


<template>
  <div class="confirmation">
    <h1>confirmation</h1>

    <fieldset>
      <legend>Votre événement</legend>
      <ul>
        <li>événement : {{ festival.attributes.title }}</li>
        <li>date : {{ festival.attributes.from }}</li>

      </ul>
    </fieldset>

    <fieldset>
      <legend>Vos coordonnées</legend>
      <ul>
        <li>prénom : {{ route.params.firstname }}</li>
        <li>nom : {{ route.params.lastname }}</li>
        <li>email : {{ route.params.email }}</li>
      </ul>
    </fieldset>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" v-on:click="doSave">Enregistrer</button>
  </div>

  <Navigation backName="reservation" backParam="route.params" _DESACTIVE_forName="thanks"
    _DESACTIVE_forParam="route.params" _DESACTIVE_forTitle="Confirmer ma réservation maintenant" />

</template>

