<script setup lang="ts">

import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router';
import type { Festivals, Festival, Artists, Artist } from "../Types";
import { emptyFestival } from "../Types";
import Navigation from "../components/Navigation.vue";

const route = useRoute();

const artists = ref<Artist[]>([])

const festival = ref<Festival>(emptyFestival)

onMounted(() => {

  // get event name

  fetch("http://localhost:1337/api/events?filters[id][$eq]=" + route.params.id)
    .then(res => res.json() as Promise<Festivals>)
    .then(data => {
      console.log(data.data[0])
      festival.value = data.data[0]
    })

  // fetching artists

  fetch("http://localhost:1337/api/artists?populate=picture&filters[events][id][$eq]=" + route.params.id)
    .then(res => res.json() as Promise<Artists>)
    .then(data => artists.value = data.data)
 
})
</script>
  

<template>
  <div class="festival">
    <h1>festival {{ festival.attributes.title }}</h1>
    
    <Navigation backName="home" backParam="{}" forName="reservation" forParam="{ id: route.params.id }"
      forTitle="réserver ma place" />

    <article v-for="artist in artists">
      <h2>{{ artist.attributes.name }}</h2>
      <img :src="`http://localhost:1337${artist.attributes.picture.data[0].attributes.url}`"
        :alt="artist.attributes.name" />
      {{ artist.attributes.description }}
    </article>

    <Navigation backName="home" backParam="{}" forName="reservation" forParam="{ id: route.params.id }"
      forTitle="réserver ma place" />
  </div>
</template>

<style scoped>
article img {
  max-width: 200px;
  float: left;
}
</style>
