<script setup lang="ts">

import { ref, onMounted } from 'vue'
import type { Festivals, Festival } from "../Types";

const festivals = ref<Festival[]>([])

onMounted(() => {

  fetch("http://localhost:1337/api/events?populate=*")
    .then(res => res.json() as Promise<Festivals>)
    .then(data => festivals.value = data.data)
    
})
</script>


<template>
  <main>
    <article v-for="festival in festivals" v-on:click="">
      <router-link :to="{ name: 'festival', params: { id: festival.id } }">
        <h2>
          {{ festival.attributes.title }}
        </h2>
        <span>
          {{ festival.attributes.from.split('T')[0].split('-').reverse().join('/') }}
        </span>
      </router-link>
    </article>
  </main>
</template>


<style scoped>
article>a {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 4px;
}

article span {
  line-height: 38px;
}

article:hover {
  background-color: #EEEEEE;
}
</style>