<script setup lang="ts">
import { reactive } from 'vue';
import { useRoute } from 'vue-router';
// import Navigation from "../components/Navigation.vue";

const route = useRoute();

const state = reactive({
  firstname: '',
  lastname: '',
  email: '',
  place: 'A'
});

</script>


<template>
  <div class="reservation">

    <h1>Réserver ma place</h1>

    <div class="row g-3">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Prénom</label>
        <input type="text" v-model="state.firstname" class="form-control" id="firstName" placeholder="">
        <div class="invalid-feedback">
          Un prénom valide est requis.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="lastName" class="form-label">Nom de famille</label>
        <input type="text" v-model="state.lastname" class="form-control" id="lastName" placeholder="">
        <div class="invalid-feedback">
          Un nom de famille valide est requis.
        </div>
      </div>

      <div class="col-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" v-model="state.email" class="form-control" id="email" placeholder="adresse@email.com">
        <div class="invalid-feedback">
          Merci de renseigner une adresse email valide.
        </div>
      </div>

      <div class="col-6">
        <p>Veuillez sélectionner le type de placement que vous désirez&nbsp;:</p>
        <div class="invalid-feedback">
          Merci de sélectionner un type de place.
        </div>


        <div class="form-check">
          <input v-model="state.place" class="form-check-input" type="radio" name="place" value="A" id="place1">
          <label class="form-check-label" for="place1">A</label>
        </div>
        <div class="form-check">
          <input v-model="state.place" class="form-check-input" type="radio" name="place" value="B" id="place2">
          <label class="form-check-label" for="place2">B</label>
        </div>
        <div class="form-check">
          <input v-model="state.place" class="form-check-input" type="radio" name="place" value="C" id="place3">
          <label class="form-check-label" for="place3">C</label>
        </div>
      </div>

    </div>

    <hr class="my-4" />

    <nav>
      <router-link :to="{ name: 'festival', params: { id: route.params.id } }">retour</router-link>
      <router-link 
        class="btn btn-primary"
        :class="state.firstname && state.lastname && state.email ? '' : 'disabled'" 
        :to="{
          name: 'confirmation', params: {
            id: route.params.id,
            firstname: state.firstname,
            lastname: state.lastname,
            email: state.email
          }
        }">Réserver ma place</router-link>
    </nav>

    <!-- 
    <Navigation
      backName="festival"
      backParam="{id:route.params.id}"
      forName="confirmation"
      forParam="{
          id: route.params.id,
          firstname: state.firstname,
          lastname: state.lastname,
          email: state.email
        }"
      forTitle="Réserver ma place"
    /> -->


  </div>
</template>


<style scoped>
nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
</style>

