<script setup lang="ts">
import { useRoute } from 'vue-router';
const route = useRoute();
</script>


<template>
  <div class="thanks">
    <h1>Merci !</h1>
    <p>{{ route.params.msg }}</p>
  </div>
</template>

