body {
  margin: 0;
  background-color:brown;
  font-size: 1.3em;
  font-family: arial;
}

main, footer>* {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color:#fff;
}


header {
  width: 320px;
  background-color:antiquewhite;
}

#slides {
  min-height: 255px;
}

#slides>* {
  display: none;
}

#telecommande {
  width: 198px;
  margin-left: auto;
  text-align: center;
  padding: 20px 0;
  font-size: 1.1em;
  user-select: none;
}

#telecommande>span {
  cursor: pointer;
  margin:0 3px;
}
#telecommande>span:hover {
  color:#888;
}

footer {
  background-color: #0A0A0A;
  padding: 50px;
}

footer * {
  background-color:#0A0A0A;
  color:aliceblue;
}



@keyframes appear {
  0%{
    opacity: 1;
    transform: rotateX(90deg);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg);
  }
}

#slides>*{
    animation-name: appear;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


@media screen and (max-width: 740px) {

  #slides img {
    display: none;
  }

  #telecommande {
    width: 100%;
    margin-left: 0;
  }

}