<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Rover Picture show !</title>
</head>
<body>

  <ul>
    <% photos.forEach(function(p){ %>

      <li><a href="/image/<%=p.id%>"><%=p.id%></a> - <%=p.earth_date%></li>    
      
    <% }); %>
      
  </ul>

</body>
</html>