<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Rover Picture show !</title>
</head>
<body>


  <h1>Coucou !</h1>
  
  <p>ID : <%=photo.id%></p>

  <img src="<%=photo.img_src%>" alt="">

</body>
</html>