<script>
	import Menu from '../Menu.svelte';
	import Fil from '../Fil.svelte';
	import Contacts from '../Contacts.svelte';
</script>



<div class="container-fluid">
	<div class="row">

		<Menu />
		<Fil/>
		<Contacts />

  </div>
</div>

