
<script>
  import User from "./User.svelte";

  export let url = "https://s3-eu-west-1.amazonaws.com/blog-ecotree/blog/0001/02/81cdd8386afabed5c1b09f24d94dba05758a08d5.jpg"
</script>

<article>
  <header class="row">
    <div class="col-10"><User/> . 17h</div>
    <div class="col-2">...</div>
  </header>
  <main>
    <img src={url} alt="un arbre">
  </main>
  <footer>

  </footer>  
</article>



<style>

  header img {
    width: 40px !important;
  }

  img {
    width: 100%;
  }

</style>

