<script>
	import User from './User.svelte';

	let users = [
		{ username: 'Marcel', image: 'orel.jpg' },
		{ username: 'Michel', image: 'orel.jpg' },
		{ username: 'Môrice', image: 'orel.jpg' },
		{ username: 'Martine', image: 'orel.jpg' }
	];
</script>

<main class="col">
	{#each users as u}
		<User username={u.username} image={u.image}/>
	{/each}
</main>
