<script>
	import Card from './Card.svelte';
  
  let images = [];

	const api = import.meta.env.VITE_API;



	fetch('https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=' + api)
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {
			return data.photos.map(p => p.img_src).splice(0,5);
		})
    .then(function (data) {
			images = [...images, ...data];
		})
    
</script>




<main class="col">

  {#each images as url}
    <Card {url}/>
  {/each}

</main>
