<script>

export let username = "Orel";
export let image = "orel.jpg";

</script>



<img src={image} alt={username}>
<span>{username}</span>



<style>

  img {
    width: 80px;
    border-radius: 40px;
  }
</style>