
.carousel-item {
  background-size: cover;
  min-height: 400px;
}

.slide1 {
  background-image: url(../img/pexels-dmitry-zvolskiy-1805600.jpg);
}

.slide2 {
  background-image: url(../img/pexels-engin-akyurt-14933214.jpg);
}

.slide3 {
  background-image: url(../img/pexels-kehn-hermano-3667496.jpg);
}

.carousel-inner a {
  margin: 80px 200px;
}